{% extends "layouts/base.html" %}

{% block title %}
  Dish list
{% endblock %}

{% block content %}
<div class="main-content">
  <div class="container mt-7">
    {% if dish_list %}
      <h2 class="mb-5">Dish list</h2>
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Dish name</th>
                  <th scope="col">Dish type</th>
                  <th scope="col">Description</th>
                  <th scope="col">Dish price</th>
                </tr>
              </thead>
              <tbody>
                {% for dish in dish_list %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <a href="{% url 'dish:dish-detail' pk=dish.id %}"><span class="mb-0 text-sm">{{ dish.name }}</span></a>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{ dish.dish_type }}
                    </td>
                    <td>
                      <span class="mb-0 text-sm">
                        {{ dish.description }}
                      </span>
                    </td>
                    <td>
                      {{ dish.price }} $
                    </td>
                  </tr>
                {% empty %}
                  <p>You are first chef</p>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
