{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
  {{ dish.name }}
{% endblock %}

{% block stylesheets %}
  <link href="{% static 'assets/css/profile-style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="main-content">
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url('/static/assets/img/french-1.jpg'); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="display-2 text-white">Hello in the {{ dish.name }} page</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <img src="{% static 'assets/img/klassicheskaya_panakota-416569.jpg' %}" class="rounded-circle">
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              {% if user in dish.cooks.all %}
                <a href="{% url 'dish:dish-update' pk=dish.id %}" class="btn btn-info float-right">Edit</a>
                <a href="{% url 'dish:dish-delete' pk=dish.id %}" class="btn btn-danger float-right">Delete</a>
              {% endif %}
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="description">Price</span>
                      <span class="heading">{{ dish.price }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{ dish.name }}<span class="font-weight-light">({{ dish.dish_type }})</span>
                </h3>
                <div>
                  <i class="ni education_hat mr-2"></i>{{ dish.description }}
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>{{ dish.steps }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <br>
  <div class="container-fluid">
      <div class="row">
        <div class="">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="text-center">
                    <h3 class="mt-md-5">
                        Ingredients
                      <hr class="border border-primary border-5 opacity-5">
                    </h3>
                    {% for product in dish.ingredients.all %}
                      <div class="h5 mt-4">
                        <i class="ni business_briefcase-24 mr-2"></i>{{ product.name }}
                        <hr class="border-dark">
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  <br>
    <div class="container-fluid">
      <div class="row">
        <div class="">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="text-center">
                    <h3 class="mt-md-5">
                      Cookers
                      <hr class="border border-success border-3 opacity-50">
                    </h3>
                    {% for chef in dish.cooks.all %}
                      <div class="h5 mt-4">
                        <i class="ni business_briefcase-24 mr-2"></i><a href="{% url 'dish:chef-detail' pk=chef.id %}">{{ chef.username }}</a>
                        <hr>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
