{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}


{% block title %}
  {{ object|yesno:"Update,Add" }} product
{% endblock %}

{% block content %}
<div class="container mt-7">
  <div class="card">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">{{ object|yesno:"Update,Add new" }} product</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-sm btn-primary" value="Submit">
      </form>
    </div>
  </div>
</div>
{% endblock %}
