{% extends "layouts/base.html" %}

{% block title %}
  Success
{% endblock %}


{% block content %}
  <header class="header-2">
    <div class="page-header min-vh-75 relative">
      <span class="mask bg-gradient-light"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-dark pt-3 mt-n5">Account successfully created</h1>
            <a href="{% url 'login' %}" class="btn btn-success">Login</a>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
